@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #f5f7fb;
  --buttons_bg: #4d5b9e;
  --text_color: #293264;
  --ChooseTag: #d6dbf5;
  --correctTag: #94d7a2;
  --incorrectTag: #f8bcbc;
  --border_color: #dbdef0;
}

.App {
  height: 100vh;
  background: #f5f7fb;
  text-align: center;
  position: relative;
  color: var(--text_color);
}

.blue_blob, .yellow_blob {
  position: absolute;
}

.blue_blob {
  bottom: 0;
  left: 0;
}

.yellow_blob {
  top: 0;
  right: 0;
}
